.button-primary-hot {
	background-color: #FFCE33 !important;
	color: white !important;
	width: 165px;
	height: 60px;
}

.button-seconady-hot {
	background-color: #565D62 !important;
	color: white !important;
	width: 165px;
	height: 60px;
}